/* @import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Glory:ital,wght@0,100..800;1,100..800&display=swap') */

/* font-family: 'Glory', 'Cabin';

red: #cc3628
red:hover: #df4335

vtunes YELLOW: #FCC03C
avatarmaker PINK: #FDE1D6
parking kitty PINK: #FC4A75
parking kitty BLUE: #9BBFCB
cragslist YELLOW: #F3C15D
venus trap LBLUE: #9AD6D6
venus trap DBLUE: #152C53
cookie-bear DARK: #FA846A
cookie-bear MID: #FDB4A7
cookie-bear: #FFC7C0
WHITE: #FDF8F2
*/

/* html,
body {
    height: 100%;
    width: 100%;
} */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    /* font-size: 20px; */
    font-weight: 400;
    line-height: 125%;
    color: #000000;
    background-image: url(image/texture10.png);
}

p {
    font-family: 'Cabin';
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}

h1, h3 {
    font-family: 'Glory';
    font-weight:800;
    letter-spacing: 1px;
}

h1 {
    color: #cc3628;
    font-size: 42px;
    line-height: 20%;
    text-align: center;
}

.over-flow{
    line-height: 116%;
}

h2{
    font-family: 'Glory';
    font-weight:750;
    color: #cc3628;
    line-height:0px;
    font-size:32px;
    }

h3{
    line-height:0px;
    font-size:28px;
    /* margin: 20px 0px 14px 0px; */
    margin-bottom: 16px;
    }

li, h4, .nav-tag a {
    line-height:0px;
    font-family:'Glory';
    font-weight:800;
    font-size:16px;
    letter-spacing: 0.5px;
    color: #000000;
    text-decoration: none;
    /* line-height: 130%; */
}

.email {
    line-height: 180%;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.email:hover{
    color: #44312f;
    border-bottom: 3px solid #cc3628;
    border-radius: 2px;
}

.vw-h1 {
    font-size: 6.7vw;
}

strong{
    font-size: x-large;
    font-weight: 500;
}

img {
    width: 100%;
}

.tags{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.tags li {
    padding: 12px 6px;
    color: #cc3628;
    border: #cc3628 3px solid;
    /* background-color: #cc3628; */
    border-radius: 6%;
    margin: 5px 5px 5px 0px; 
}

#work-tags {
    display: none;
    /* visibility: hidden; */
}

#small-hide{
    margin: 12px 0px 8px 0px;
    /* display: none; */
}

.button-to-links{
    color: #FDF8F2;
    background-color: #cc3628;
    
    font-family: 'Glory';
    font-weight:800;
    letter-spacing: 1px;
    line-height:0px;
    font-size:24px;

    /* margin: 24px 0px 6px 0px; */
    margin-top: 36px;
    /* margin-top: 24px; */
    padding: 24px 0px;
    border: 0px;
    border-radius: 6px;
    text-decoration: none;
    text-align: center;
    /* color: inherit; */
    /* justify-content: center; */
}

.button-to-links:hover {
    color: #FDF8F2;
    background-color: #df4335;
    box-shadow: 2px 2px 5px #979797;
}

.button-to-links a{
    text-decoration: none;
    color: #FDF8F2;
    padding: 24px 24px;
}

.button-to-links:last-child{
    margin-bottom: 24px;
}


.button-gap{
    display: grid;
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 36px;
    right: 72px;
    z-index: 2;
    border: none;
    outline: none;
    color: #000000;
    background-color: rgba(255, 255, 255, 0);
    /* background-color: #cc3628; */
    /* color: white; */
    /* border-radius: 4px; */
    padding: 0px;

    cursor: pointer;
    font-family: 'Glory';
    font-weight:800;
    font-size: 12px;
}

.up-arrow{
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 32px solid #cc3628;
    border-radius: 3px;
    margin-bottom: 6px;
    margin-left: 10px;
    /* margin: 2rem; */
    cursor: pointer;
}

.up-arrow:hover{
    border-bottom: 32px solid #df4335;
    margin-bottom: 12px;
}

/* NAV BAR //////////////////////////////////////////////////////////////////////*/

nav {
    background-image: url(image/texture10.png);
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    width: 100vw;
    position: fixed;
    box-shadow: -10px 0px 5px #979797;
    /* z-index: 2; */
    padding: 12px 0px 16px 0px;
    /* border: 1px solid rgb(13, 255, 0); */
}

.nav-tag {
    display: flex;
    list-style: none;
    width: 100vw;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-right: 12px;
    /* border: 1px solid rgb(25, 0, 255); */
}

.nav-tag li{
    width: 108px;
    text-align: center;
}

.nav-tag li:nth-child(2) {
/* padding: 0px 22px; */
/* padding-left: 2.8vw; */
}

nav a {
    color: #000000;
    text-decoration: none;
    /* border: 1px solid red; */
}

p a {
    color: #000000;
}

p a:hover {
    color: #cc3628;
}

.home-button{
    display: flex;
    flex-direction: column;
    align-items: center;

    /* border: 1px solid red; */
}

.logo-img {
    width: 56px;
    height: auto;
    /* border: 1px solid red; */
}

.nav-hover:hover {
    color: #cc3628;
    border-bottom: 3px solid #cc3628;
    border-radius: 2px;
}

.active {
    color: #44312f;
    border-bottom: 3px solid #cc3628;
    border-radius: 2px;
}


footer {
    /* background: #4f493d; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: #000000;
    /* position: absolute; */
    bottom: 0px;
    /* width: 100vw; */
    padding: 20px 50px;
    /* border-top: 80px solid; */
}

main{
    margin: auto;
    /* width: 960px; */
    width: 70%;
    display: flex;
    /* justify-content: center; */
    /* border: 1px solid red; */
}


/* ABOUT PAGE //////////////////////////////////////////////////////////////////////*/
.about-page{
    padding-top: 200px;
    display: flex;
    align-content: flex-start;
    justify-content: space-evenly;
    grid-gap: 5vw;
    /* border: 2px solid rgb(255, 0, 0); */
}

.self-photo{
    border-radius: 100%;
}

#vertical-align {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid rgb(22, 194, 94); */
}

#vertical-align p{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

.bio{
    width: 200%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid rgb(179, 106, 212); */
}

.resume-contact{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-gap: 12px 0px;
    /* border: 1px solid rgb(194, 119, 22); */
}


/* WORK LIST (PREVIEW) PAGE //////////////////////////////////////////////////////////////////////*/
.work-preview {
    display: grid;
    grid-template-columns: auto auto auto;
    /* padding: 10px; */
    grid-gap: 24px;
    padding-top: 130px;
    /* border: 1px solid rgb(63, 238, 215); */
}

.work-preview img {
    /* width: 100%; */
    /* height: auto; */
    aspect-ratio: 1/1;
    object-fit: cover;
    max-width: 350px;
    /* object-position: 0% 80%  */
    /* border: 1px solid rgb(238, 63, 63); */
}

/* WORK DETAIL PAGE //////////////////////////////////////////////////////////////////////*/
.banner{
    width: 100%;
    position: relative;
    max-height: 400px;
    padding-top: 104px;
    z-index: -2;
    display: flex;
    align-content: center;
    justify-content: center;
    /* border: 1px solid red; */
}

.banner img{
    max-height: 350px;
    object-fit: scale-down;
}

.title ul{
    justify-content: center;
}

.title{
    text-align: center;
}

.text-content{
    width: 60%;
    flex-wrap: wrap;
    padding: 24px 0px;
    /* grid-gap: 6px; */
    grid-gap: 24px 0px;
    justify-content: center;
    /* border: 1px solid rgb(238, 183, 63); */
}


.video-player{
    padding-top: 130px;
}

iframe{
    /* height:500px; */
    /* width:800px; */
    height: auto;
    width:60vw;
    aspect-ratio: 1.8/1;
    /* border: 1px solid rgb(238, 113, 63); */
}

.line-break{
    width: 100%;
    border-bottom: 6px dotted #44312f;
    padding-top: 36px;
    margin-bottom: 36px;
}

.work-img, .screen-flow, .project-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 24px;
    /* width: 60%; */
}

.work-img img, .screen-flow img{
    /* max-height: 500px; */
    max-height: 72vh;
    /* width: auto; */
    cursor: pointer;
    box-shadow: 1px 1px 5px #d3d3d3;
    /* border: 1px solid rgb(238, 183, 63); */
}

.work-img img:hover{
    box-shadow: 1px 1px 5px #b3b3b3;
}

.mobile-img, .screen-flow{
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    grid-gap: 24px 0px;
}

.mobile-img img{
    max-height: 500px;
    cursor: pointer;
    /* width: 30%; */
}

.three, .four{
    width: 60vw;
    /* border: 1px solid rgb(238, 183, 63); */
}

.three img{
    width: 18vw;
    height: 100%;
}

.pk .three img{
    width: 16vw;
}

.four img{
    width: 14vw;
    height: 100%;
}

.screen-flow img{
    max-height: 90vh;
    max-width: 800px;
    box-shadow: none;
    /* margin-bottom: -76px; */
}

.project-details img{
    max-height: 72vh;
    justify-content: center;
    object-fit: scale-down;
    box-shadow: none;
    /* margin-bottom: -76px; */
}

.vertical img{
    max-height: 80vh;
    cursor: pointer;
    /* border: 1px solid rgb(238, 183, 63); */
}


/* FULL SIZE IMG //////////////////////////////////////////////////////////////////////*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    /* padding-top: 76px; Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    align-content: center;
  }
  
/* Modal Content (Image) */
.modal-content {
    margin: auto;
    /* top: 24px; */
    display: block;
    align-items: center;
    height: 85%;
    width: auto;
    max-height: 800px;
    /* padding-bottom: 100px; */
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.3s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 78px;
    right: 78px;
    color: #FDF8F2;
    font-size: 78px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #cc3628;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 820px){
    .modal-content {
      width: 100%;
      height: auto;
    }

    .close {
        top: 1050px;
        right: 47.5%;
        /* top: 120px; */
        /* right: 47.5%; */
    }
  }

  @media only screen and (max-width: 414px) {
    .close {
        /* top: 700px;
        right: 44%; */
        display: none;
    }
}

/* SLIDESHOW BANNER//////////////////////////////////////////////////////////////////////*/
.hedgehog .banner {
    position: relative;
    align-content: center;
    padding-top: 112px;
    padding-bottom: 358px;
    overflow: hidden;
    /* border: 1px solid rgb(238, 63, 63); */
}
.slideshow-images {
    position: absolute;
    width: 500%;
    animation: slideshow 50s linear infinite;
    /* border: 1px solid rgb(63, 188, 238); */
}

.slideshow-images img{
    max-height: 350px;
    padding-right: 6px;
    padding-bottom: 12px;
    width: auto;
  }

  @keyframes slideshow {
    0%    { left: 0; }
    100%  { left: -284.5%; }
  }

/* WORK BANNERS//////////////////////////////////////////////////////////////////////*/
/* .align-center {
    align-content: center;
} */

.cute-avatar-maker div{
    background-color: #FDE1D6;
}

.vtunes div{
    background-color: #FCC03C;
}

.craigslist div{
    background-color: #F3C15D;
}

.venus-trap div{
    background-color: #9AD6D6;
}

.parking-kitty div{
    background-color: #9BBFCB;
}

.hedgehog div{
    /* background-color: #44312f; */
    background-color: #FDF8F2;
}

.cookie-bear div{
    background-color: #FDB4A7;
    /* background-color: #FA846A; */
}

.sancha div{
    /* background-color: #44312f; */
    background-color: #FDF8F2;
    /* padding-bottom: 20px; */
    /* border: 1px solid rgb(255, 17, 0); */
}

.sancha img {
    /* max-width: 90%; */
    object-fit: cover;
    /* border: 1px solid rgb(115, 255, 0); */
}

.slide-content {
    width: 100%;
    position: relative;
    max-height: 500px;
}

.hover {
    position: absolute;
    transition: .5s ease;
    opacity: 0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* text-align: center; */
}

.left:hover .varieties-img {
    opacity: 0.3;
}

.left:hover .hover {
    opacity: 1;
}

.play-button {
    justify-self: center;
    margin-left: 220px;
    margin-bottom: 200px;
    /* border: 1px solid red; */
}

@media screen and (min-width: 1540px) {
    .work-preview{
        grid-template-columns: auto auto auto auto;
    }
}


@media screen and (max-width: 768px) {
    h1{
        font-size: 32px;
    }

    h2, h3{
        font-size: 28px;
    }

    li, h4 {
        font-size:16px;
    }

    /* p{
        font-size: 16px;
        line-height: 140%;
    } */
    
    #small-hide{
        display: none;
    }
    
    #back-to-top {
        display: none;
    }
        
    #nav-bar {
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .nav-tag {
        width: 90%;
        margin: 0;
    }

    .banner, .hedgehog .banner {
        max-height: 346px;
        aspect-ratio: 2/1;
        padding-top: 84px;
    }
    
    main{
        /* flex-direction: column; */
        width: 90%;
    }

    .four, .three{
        width: 90vw;
    }
    
    .three img{
        width: 30vw;
    }

    .pk .three img{
        width: 28vw;
    }

    .four img{
        width: 22vw;
    }

    .about-page{
        padding-top: 114px;
        flex-wrap: wrap;
        grid-gap: 12px;
    }

    .self-photo{
        width: 42%;
    }

    .bio{
        width: 300%;}

    .resume-contact{
        flex-direction: column;
    }

    .work-preview {
        grid-gap: 12px;
        padding-top: 110px;
    }

    .close{
        display: none;
    }

    .video-player{
        padding-top: 110px;
    }
    
    iframe{
        width:90vw;
    }

    .text-content, .work-img, .project-details {
        width: 90%;
    }

    .vertical {
        width: auto;
    }

    #back-to-top {
        bottom: 24px;
        right: 24px;
        background-color: rgba(255, 255, 255, 0.8);
        /* box-shadow: 3px 3px 5px #44312f; */
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
        padding: 8px;
        border-radius: 6px;
    }

    /* WORK SLIDESHOW//////////////////////////////////////////////////////////////////////*/

    .hedgehog .banner {
        padding-bottom:0px;
    }

    .slideshow-images {
        width: 850%;
        animation: slideshow 40s linear infinite;
    }
    
    .slideshow-images img{
        max-height: 346px;
        padding-bottom: 0px;
        width: auto;
    }

    @keyframes slideshow {
        0%    { left: 0; }
        100%  { left: -578.5%; }
    }


}


/* MOBILE */
@media screen and (max-width: 414px) {

    /* IF USE ILLUS instread if ILLUSTRATION */
    #mobile-hide{
        display: none;
    }

    /* .nav-tag li:nth-child(2) {
        padding: 0px;
    }

    .nav-tag li:nth-child(4) {
        padding: 0px 6px;
    } */
    
    .work-preview{
        padding-top: 104px;
        grid-template-columns: auto auto;
    }
    
    .banner, .hedgehog .banner{
        max-height: 180px;
        padding-top: 84px;
    }

    .text-content{
        padding: 16px 0px;
        /* grid-gap: 0px; */
    }

    .vertical{
        width: 100%;
    }

    .four img{
        width: 44vw;
    }
    
    .video-player{
        padding-top: 104px;
    }
    
    .project-details br{
        display: none;
    }

    .line-break{
        /* padding-top: 6px; */
        /* margin-bottom: 16px; */
    }

    /* WORK SLIDESHOW//////////////////////////////////////////////////////////////////////*/
    /* .hedgehog .banner {
        padding-top: 88px;
        padding-bottom: 182px;
    } */

    .hedgehog .banner {
        padding-bottom:0px;
    }
    .slideshow-images {
        width: 850%;
        animation: slideshow 40s linear infinite;
    }

    .slideshow-images img{
        max-height: 180px;
        padding-bottom: 0px;
        width: auto;
    }

    @keyframes slideshow {
        0%    { left: 0; }
        100%  { left: -578.5%; }
    }





    .cookie-bear div{
        /* background-color: #44312f; */
        background-color: #FA846A;
        align-content: center;
    }
}