@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Glory:ital,wght@0,100..800;1,100..800&display=swap')

/* font-family: 'Fredoka One', cursive;
font-family: 'Merriweather Sans', sans-serif;
red: #cc3628

*/


html,
body {
    height: 100%;
    width: 100%;
}

body {
    /* width: 78%; */
    margin: auto;
    text-align: center;
    border: 1px solid red;
    font-family: 'Cabin';
    font-weight: 400;
    font-size: 14px;
    background-image: url(image/texture10.png);
    /* background-color: rgba(255, 255, 255, 0.9);
    background-blend-mode: lighten; */

}


p {
    font-family: 'Cabin';
    font-weight: 400;
    font-size: 14px;
}


h2 {
line-height:18px;
font-family:'Glory';
font-weight:800;
font-size:20px;
color:#cc3628;
}

h3, li {
line-height:0px;
font-family:'Glory';
font-weight:800;
font-size:16px;
}


ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(224, 50, 215);
}

li {
    list-style: none;
    line-height: 130%;
    /* margin: 0px 20px 0px 20px; */
    border: 1px solid rgb(0, 255, 115);
}

/* ------------------------------------ */


img {
    width: 100%;
}

.logo-img {
    width: 55px;
    border: 1px solid red;
}


/* ------------------------- */


.header ul {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 90vw;
    position: fixed;
    letter-spacing: 0.5px;
    background-image: url(image/texture10.png);
    box-shadow: -10px 0px 5px #4f493d;
    z-index: 2;
    border: 1px solid rgb(0, 8, 255);
}

main {
    width: 78%;
    margin: auto;
    text-align: center;
    border: 1px solid rgb(66, 196, 75);
}


.work-preview main{
    margin-top: 500px;
    display: flex;
    /* content: "";
    display: table;
    clear: both; */
    flex-wrap: wrap;
    /* columns: 1 1 1; */
    column-gap: 20px;
    width: 78%;
    margin: auto;
    /* padding: 50px 0px; */
    border: 1px solid red;
    
}

.work-preview div {
    /* flex: 1 0 30%; */
    width: 30%;
    margin: 20px 0px 20px 0px;
    border: 1px solid red;
}


footer {
    position: relative;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: #ffffff; */
    /* position: absolute; */
    bottom: 0;

    /* width: 100vw; */
    padding: 30px 80px 20px 80px;
    margin-top: 150px;
}

.nav-hover:hover,
.active {
    /* color: #152c53; */
    border-bottom: 3px solid #cc3628;
    border-radius: 2px;
}