/* @import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Glory:ital,wght@0,100..800;1,100..800&display=swap') */

/* font-family: 'Glory', 'Cabin';

red: #cc3628
red:hover: #df4335

vtunes YELLOW: #FCC03C
avatarmaker PINK: #FDE1D6
parking kitty PINK: #FC4A75
parking kitty BLUE: #9BBFCB
cragslist YELLOW: #F3C15D
venus trap LBLUE: #9AD6D6
venus trap DBLUE: #152C53
WHITE: #FDF8F2
*/

/* html,
body {
    height: 100%;
    width: 100%;
} */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    /* font-size: 20px; */
    font-weight: 400;
    line-height: 125%;
    color: #000000;
    background-image: url(image/texture10.png);
}

p {
    font-family: 'Cabin';
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}

h1, h3 {
    font-family: 'Glory';
    font-weight:800;
    letter-spacing: 1px;
}

h1 {
    color: #cc3628;
    font-size: 42px;
    line-height: 20%;
    text-align: center;
}

h2{
    font-family: 'Glory';
    font-weight:750;
    color: #cc3628;
    line-height:0px;
    font-size:32px;
    }

h3{
    line-height:0px;
    font-size:28px;
    /* margin: 20px 0px 14px 0px; */
    margin-bottom: 16px;
    }

li, h4 {
    line-height:0px;
    font-family:'Glory';
    font-weight:800;
    font-size:16px;
    letter-spacing: 0.5px;
    /* line-height: 130%; */
}

.email p{
    font-family: 'Cabin';
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-decoration: none;
}

.vw-h1 {
    font-size: 6.7vw;
}

strong {
    font-weight: 700;
}

img {
    width: 100%;
}

.tags{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

/* .tags li {
    padding: 12px 6px;
    color: white;
    background-color: #cc3628;
    border-radius: 6%;
    margin: 5px 5px 5px 0px; 
} */

.tags li {
    padding: 12px 6px;
    color: #cc3628;
    border: #cc3628 3px solid;
    border-radius: 6%;
    margin: 5px 5px 5px 0px; 
}

#work-tags {
    display: none;
    /* visibility: hidden; */
}

#small-hide{
    margin: 12px 0px 8px 0px;
    /* display: none; */
}

.button-to-links{
    color: #FDF8F2;
    background-color: #cc3628;
    
    font-family: 'Glory';
    font-weight:800;
    letter-spacing: 1px;
    line-height:0px;
    font-size:24px;

    /* margin: 24px 0px 6px 0px; */
    margin-top: 24px;
    padding: 24px 0px;
    border: 0px;
    border-radius: 6px;
    text-decoration: none;
    text-align: center;
    /* color: inherit; */
    /* justify-content: center; */
}

.button-to-links:hover {
    color: #FDF8F2;
    background-color: #df4335;
}

.button-to-links a{
    text-decoration: none;
    color: #FDF8F2;
    padding: 24px 24px;
}

.button-to-links:last-child{
    margin-bottom: 24px;
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 36px;
    right: 72px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    /* background-color: #cc3628; */
    /* color: white; */
    /* border-radius: 4px; */
    padding: 0px;

    cursor: pointer;
    font-family: 'Glory';
    font-weight:800;
    font-size: 12px;
}

.up-arrow{
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 32px solid #cc3628;
    border-radius: 3px;
    margin-bottom: 6px;
    margin-left: 10px;
    /* margin: 2rem; */
    cursor: pointer;
}

.up-arrow:hover{
    border-bottom: 32px solid #df4335;
    margin-bottom: 12px;
}

nav {
    background-image: url(image/texture10.png);
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    /* padding: 0px 0px 0px 50px; */
    width: 100vw;
    position: fixed;
    box-shadow: -10px 0px 5px #979797;
    z-index: 2;
    padding: 12px 0px 16px 0px;
    /* border: 1px solid rgb(13, 255, 0); */
    
}

.nav-tag {
    display: flex;
    list-style: none;
    width: 100vw;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    /* margin: 0; */
    /* border: 1px solid rgb(25, 0, 255); */
}

.nav-tag li:nth-child(2) {
    padding-left: 42px;
    }

nav a {
    color: #000000;
    text-decoration: none;
    /* border: 1px solid red; */
}

.logo-img {
    padding-left: 24px;
    width: 55px;
    height: auto;
    /* border: 1px solid red; */
}

.nav-hover:hover {
    color: #cc3628;
    border-bottom: 3px solid #cc3628;
    border-radius: 2px;
}

.active {
    color: #44312f;
    border-bottom: 3px solid #cc3628;
    border-radius: 2px;
}


footer {
    /* background: #4f493d; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: #000000;
    /* position: absolute; */
    bottom: 0;

    /* width: 100vw; */
    padding: 20px 50px 20px 50px;
    /* border-top: 80px solid; */
}

.right {
    min-width: 300px;
}


main{
    margin: auto;
    /* width: 960px; */
    width: 70%;
    display: flex;
    /* justify-content: center; */
    /* border: 1px solid red; */
}

.work-preview {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    padding-top: 132px;
    /* justify-content: flex-start; */
    /* justify-content: center; */
    /* align-content: center; */
    border: 1px solid rgb(63, 238, 215);
}

.work-preview div {
    flex: 24%;
}

/* .work-preview {
    columns: 3 auto;
    column-gap: 36px;
    border: 1px solid rgb(63, 238, 215);
    flex-wrap: wrap;
} */

.work-preview img {
    /* width:24%; */
    height:auto;
}

.banner{
    width: 100%;
    max-height: 400px;
    padding-top: 130px;
    /* border: 1px solid red; */
}

.banner img{
    max-height: 350px;
    object-fit: scale-down;
}

.title ul{
    justify-content: center;
}

.text-content{
    width: 60%;
    flex-wrap: wrap;
    padding: 24px 0px;
    grid-gap: 6px;
    justify-content: center;
}

.line-break{
    width: 100%;
    border-bottom: 6px dotted #44312f;
    padding-top: 32px;
    margin-bottom: 32px;
}

.cute-avatar-maker div{
    background-color: #FDE1D6;
    align-content: center;
}

.vtunes div{
    background-color: #FCC03C;
    align-content: center;
}


.hover {
    position: absolute;
    transition: .5s ease;
    opacity: 0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* text-align: center; */
}

.left:hover .varieties-img {
    opacity: 0.3;
}

.left:hover .hover {
    opacity: 1;
}

.play-button {
    justify-self: center;
    margin-left: 220px;
    margin-bottom: 200px;
    /* border: 1px solid red; */
}

@media screen and (max-width: 768px) {
    h1{
        font-size: 32px;
    }

    h2, h3{
        font-size: 28px;
    }

    li, h4 {
        font-size:16px;
    }

    /* p{
        font-size: 16px;
        line-height: 140%;
    } */
    
    #small-hide{
        display: none;
    }
    
    #back-to-top {
        display: none;
    }
        
    nav {
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .nav-tag {
        width: 90%;
        margin: 0;
    }

    .nav-tag li:nth-child(2) {
        padding-left: 16px;
    }
    
    /* .logo-img {
        padding-left: 16px;
    } */
    
    .banner{
        padding-top: 90px;
    }

    main{
        /* flex-direction: column; */
        width: 90%;
    }

    .work-preview {
        grid-gap: 12px;
        padding-top: 92px;
    }

    .text-content{
        width: 90%;
    }

    #back-to-top {
        bottom: 24px;
        right: 24px;
        background-color: rgba(255, 255, 255, 0.8);
        /* box-shadow: 3px 3px 5px #44312f; */
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
        padding: 8px;
        border-radius: 6px;
    }
}


/* MOBILE */
@media screen and (max-width: 414px) {

    /* IF USE ILLUS instread if ILLUSTRATION */
    #mobile-hide{
        display: none;
    }
    
    .nav-tag li:nth-child(2) {
        padding-left: 0px;
    }

    .nav-tag li:nth-child(4) {
        padding-right: 12px;
    }
    
    .logo-img {
        padding-left: 0px;
    }
    
    .text-content{
        padding: 16px 0px;
        /* grid-gap: 0px; */
    }
    
    .line-break{
        /* padding-top: 6px; */
        margin-bottom: 16px;
    }

}